@model WEBP.WebAPI.Models.CreatePanelViewModel

@{ 
	Layout = "~/Views/Shared/_AdminPanelLayout.cshtml";
	ViewData["Title"] = "Create";
}

<div class="panel">


	@using (Html.BeginForm("Create", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
	 {
		<form>
			@Html.AntiForgeryToken()

			<div class="mb-3">
				<div class="input-group is-invalid">
					<div class="input-group-prepend">
						@Html.LabelFor(m => m.Product.Title, new { @class = "input-group-text" })
					</div>
					@Html.TextBoxFor(m => m.Product.Title, new { @class = "form-control" })
				</div>
				<small> @Html.ValidationMessageFor(m => m.Product.Title, "", new { @class = "text-danger" }) </small>
			</div>

			<div class="custom-control custom-checkbox mb-3">
				@Html.CheckBoxFor(m => m.Product.Aktifmi, new { @class = "custom-control-input" })
				@Html.LabelFor(m => m.Product.Aktifmi, new { @class = "custom-control-label" })
			</div>


			<div>
				<input type="submit" value="Ekle" class="btn btn-primary" />
			</div>

		</form>
	 }


</div>