@model WEBP.WebAPI.Models.SearchViewModel

@{
	Layout = "~/Views/Shared/_HomeLayout.cshtml";
	ViewData["Title"] = "Search Page";
}

<div class="posts">

		@foreach (var item in Model.Products)
		{
			<a class="post" href="../product?id=@item.UniqueId" title="@item.Title">
				<div class="post-img" alt="incelemek İçin Tıkla"></div>
				<div class="post-label">
					<h6 class="post-title">@item.Title</h6>
					
					<div class="post-info">
						<div class="post-info-left">
							<span class="post-owner">@item.User</span>
						</div>
						<div class="post-info-right">
							<div class="post-price">
								@if (item.DiscountedPrice < item.Price)
								{
									<span class="product-price">@item.Price TL</span>
									<span class="product-cost">@item.DiscountedPrice TL</span>
								}
								else
								{
									<span class="product-cost">@item.Price TL</span>
								}
							</div>
						</div>
					</div>
					
				</div>
			</a>
		}
		
		@if (ViewBag.ipages > 1)
		{
			<nav id="pagination-nav">
				<ul class="pagination">
					<li class="pg-link"> <a href="/?page=1">First</a> </li>
					@for (var i = 1; i <= ViewBag.ipages; i++)
					{
						if (i == ViewBag.page)
						{
							<li class="pg-link active-link"> <a href="/?page=@i">@i</a> </li>
						}
						else
						{
							<li class="pg-link			  "> <a href="/?page=@i">@i</a> </li>
						}
					}
					<li class="pg-link"> <a href="/?page=@ViewBag.ipages">Last</a> </li>
				</ul>
			</nav>
		}

		<script type="text/javascript"></script>
		
</div>