@model WEBP.WebAPI.Models.HomeViewModel

@{
	Layout = "~/Views/Shared/_PageLayout.cshtml";
	ViewData["Title"] = "Home Page";
}

<div class="content-header-div">
	<img class="content-header" src="Resources/b.jpeg"  alt=""/>
</div>
<div class="posts">

		@foreach (var item in Model.Blogs)
		{
			<div class="post" onclick="goToBlog('@item.uniqueid');" @item.category>
				<div class="post-img"></div>
					<div class="post-info">
						<h6 class="post-title">@item.title</h6>
					</div>
			</div>
		}

	<nav id="pagination-nav">
		<ul class="pagination">

			<li class="pg-link">
				<a href="/?page=1">First</a>
			</li>

			@for (var i = 1; i <= ViewBag.ipages; i++)
			{
				if (i == ViewBag.page)
				{
					<li class="pg-link active-link"> <a href="/?page=@i">@i</a> </li>

				}
				else
				{
					<li class="pg-link"> <a href="/?page=@i">@i</a> </li>

				}
			}

			<li class="pg-link">
				<a href="/?page=@ViewBag.ipages">Last</a>
			</li>

		</ul>
	</nav>


</div>

